#header {
    background-color: black;
    height: 100px;
}

#top-between{
    height: 50px;
}

#top-row {
    background-color: white;
    height: 500px

}

#side-nav {
    background-color: brown;
}

#card-nav {
    background-color: green;
}

#middle-between {
    
}
#bottom-row {
    background-color: aqua;
}

#button-nav {
    background-color: pink;
}

#form-nav {
    background-color: indigo;
}

#footer {
    background-color: black;

}