#header {
    background-color: #0A285F;
    height: 100px;
}

#top-between{
>>>>>>> origin/main
    height: 50px;
}

#top-row {
    background-color: white;
    height: 600px;

}
<<<<<<< HEAD
#form {
    align-items: center;
    background-color: gray;
    margin-top: 75px;
    height: 400px;
    border-radius: 20%;
}
#random {
    background-color: maroon;
    border-radius: 2px;
    color: white;
}
#submit {
    background-color: pink;
}


#character-name {
    background-color: blue;
=======

#side-nav {
    background-color: #0075BE;
}

#card-nav {
    background-color: #D5A100;
}

#middle-between {
    height: 50px;
}
#bottom-row {
    background-color: white;
    height: 200px;
}

#button-nav {
    background-color: #0075BE;
}

#form-nav {
    background-color: #D5A100;
}

#bottom-between {
    background-color: white;
>>>>>>> origin/main
    height: 50px
}
#footer {
    background-color: #0A285F;
    height: 100px

}

.image-container {
    background-color: white;
}